* {
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

#inicio {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

#inicio h2 {
    padding: 5px 0 5px 15px;
    color: #04052E;
}



#inicio nav ul {
    list-style: none;

    padding: 10px;
}

#inicio nav ul li {
    padding: 0 5px;

    display: inline;
}

